
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family: impact, Charcoal, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  color: #f1f1f1;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: rgba(0,0,0,0.4); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
   
    display: block;
    transition: 0.3s;
    color: white;
    
    
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



p.centertext {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 60px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p.name {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 60px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     
}



#centerTextCV {
    width: 200px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    color: white;
    border: solid white 5px;
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  #centerTextPP {
    width: 200px;
    height: 25px;
    font-size: 20px;
    text-align: center;
    color: white;
    border: solid white 5px;
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translateX(-50%) translateY(-50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
 
  #cvBackground {
    width: 90%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    color: white;
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.navbar{
    background: rgba(0,0,0,0.4);
}
.bg-light{
    background: rgba(0,0,0,0.4);
}
*,
*::before,
*::after {
  box-sizing: unset;
}
.navbar-light{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-right: 95px;
}
a:hover{
    color: crimson;
}

body {
	height:100%;
	width:100%;
    margin:0;padding:0;
    background-image: url("../images/home/background.jpg");
    background-repeat: repeat-x;
}

